<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input type="text" class="form-control" placeholder="Buscar cotización...">
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-warning text-center">
            <strong>cargando </strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cotizaciones encontradas ( <small> {{ cotizaciones.length }} </small> )</h4>
                <table class="table table-hover">
                    <tr *ngFor="let ctz of cotizaciones">
                        <td> {{ ctz.nombre }} </td>
                        <td> {{ ctz.correo }} </td>
                        <td> {{ ctz.role }} </td>
                        <td> <button class="btn btn-danger btn-xs"><i class="mdi mdi-delete-variant"></i></button> </td>
                        <td> <button class="btn btn-primary btn-xs"><i class="mdi mdi-pencil"></i></button> </td>
                    </tr>
                </table>
                <button class="btn btn-secondary"> Anterior </button>
                <button class="btn btn-secondary"> Siguiente </button>
            </div>
        </div>
    </div>
</div>

<button class="right-side-toggle btn-inverse btn-primary btn btn-circle" routerLink="/cotizacion/0" routerLinkActive="active"><i class="ti-plus text-white no-animation"></i></button>