<ng-container *ngIf="isSaving">
    <div style="z-index: 10; left:0px; right: 0px; top: 0px; bottom: 0px; position: absolute; background: rgba(255,255,255,0.75)">
        <div style="margin-top: 40%; text-align: center">
            <i class="fa fa-refresh fa-spin fa-1x" style="font-size: 2.5em;"></i>
            <h3>Estamos generando la cotización</h3>
            <span>Un momento por favor</span>
        </div>
    </div>
</ng-container>

<div class="card">
    <div class="card-body">

        <app-cliente-search-text titulo_search='Datos del cliente' (emit_cliente)="cotizacion.cliente = $event"></app-cliente-search-text>


        <h4 class="card-title">Póliza</h4>

        <div class="form-group">
            <label class="control-label">Modelo del auto</label>
            <input #modelo (keyup)='searchModelo( _usuario.token, modelo.value )' type="text" class="form-control" placeholder="Encontrar modelo...">
        </div>

        <ng-container *ngIf="isModeloFind">
            <div class="row">
                <div class="col-12 pb-4">
                    <div class="jumbotron p-4 animated fadeInDown show">
                        <table class="table table-hover" *ngIf="isModeloFind">
                            <thead>
                                <tr>
                                    <td><small><strong>Marca</strong></small></td>
                                    <td><small><strong>Modelo</strong></small></td>
                                    <td><small><strong>Categoria</strong></small></td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let md of modelosFind">
                                    <td> {{ md.marca | uppercase }} </td>
                                    <td> {{ md.nombre | uppercase }} </td>
                                    <td> {{ md.categoria | uppercase }} </td>
                                    <td> <button type="button" class="btn btn-secondary btn-rounded btn-sm" (click)="auto.modelo=md;modelo.value=md.marca + ' - ' + md.nombre"><i class="ti ti-check"></i></button></td>
                                </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-secondary btn-inverse btn-rounded btn-sm" (click)="isModeloFind=false">Cerrar</button>
                        <button class="btn btn-primary btn-rounded btn-sm pull-right"><i class="ti ti-plus"></i>  Agregar modelo</button>
                    </div>
                </div>
            </div>
        </ng-container>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="control-label">Uso</label><br>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button *ngFor="let uv of usosVehiculares" (click)="cotizacion.uso = uv.nombre" type="button" [ngClass]=" { 'btn': true, 'btn-secondary': true, 'active': ( uv.nombre == cotizacion.uso ) } "> {{ uv.alias }} </button>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label class="control-label">Placa</label><br>
                    <div class="input-group">
                        <div class="input-group-addon"><input type="checkbox" [(ngModel)]="cotizacion.en_tramite" id="chkTramite"> <small class="ml-2"> <label for="chkTramite" class="mb-0">En trámite</label></small></div>
                        <input [(ngModel)]="auto.placa" type="text" class="form-control" [readonly]='cotizacion.en_tramite' placeholder="placa">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label class="control-label">Año</label><br>
                    <div class="input-group">
                        <div class="input-group-addon"><input type="checkbox" [(ngModel)]="cotizacion.is_nuevo" id="chkNuevo"> <small class="ml-2"><label for="chkNuevo" class="mb-0"> Es nuevo </label></small></div>
                        <input [(ngModel)]="auto.anio_fabricacion" style="text-align: right" type="number" class="form-control" placeholder="año" #anio (blur)="validarNuevo( anio.value )">
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div class="form-group">
                    <label class="control-label">Suma asegurable</label><br>
                    <input [(ngModel)]="cotizacion.suma_aseg" style="text-align: right" type="number" class="form-control" id="exampleInputuname" placeholder="Valor a asegurar">
                </div>
            </div>

            <div class="col-12">
                <div class="checkbox checkbox-primary pull-left p-t-0">
                    <input [(ngModel)]="auto.timon_cambiado" id="checkbox-signup" type="checkbox" class="filled-in chk-col-black">
                    <label for="checkbox-signup"> Sistema dual </label>
                </div>
            </div>
        </div>
    </div>

    <button class="right-side-toggle btn-inverse btn-primary btn btn-circle" (click)="cotizar()"><i class="ti-target text-white"></i></button>