<div class="card">
  <div class="card-body">
    <div class="row">
        <div class="col-12">
          <div class="d-flex">
            <div class="m-r-20 p-t-20 ">
              <img src="assets/images/icon/staff.png" alt="Income">
            </div>
            <div class="row">
              <div class="col-12">
                <h6 class="text-muted m-t-10 m-b-0">Cliente</h6>
                <h2 class="m-t-0">{{ cliente.nombre + ' ' + cliente.apellido_paterno + ' ' + cliente.apellido_materno}}</h2>
                <h5 class="m-t-0">DNI {{ cliente.nro_documento }}</h5>
                <h5 class="m-t-30">{{ cliente.direccion }}</h5>
                <h5 class="m-t-0">{{ cliente.departamento + ', ' + cliente.provincia + ' - ' + cliente.distrito }}</h5>
              </div>
              
              <div class="col-md-6 col-12 m-t-20">
                  <ul class="list-group">
                      <li class="list-group-item" *ngFor="let tlf of cliente.telefonos">
                        <strong>{{ tlf.tipo }}</strong> {{ tlf.valor }}
                      </li>
                  </ul>
              </div>
        
              <div class="col-md-6 col-12 m-t-20">
                  <ul class="list-group">
                      <li class="list-group-item" *ngFor="let cr of cliente.correo_electronico">
                        <strong>{{ cr.tipo }}</strong> {{ cr.valor }}
                      </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
    </div>
    
  </div>
</div>



<p>

  COT {{ cotizacion | json }}
</p>
