<div class="row">
    <div class="col-10">
        <h5>AGREGAR ARCHIVO</h5>
    </div>
    <div class="col-2">
        <ng-container *ngIf="isCloseButton==true">
            <a href="javascript:void(0)" (click)="cerrarFormulario()" class="pull-right m-r-10"> <i class="fa fa-close"></i> </a>
        </ng-container>
    </div>
</div>

<div class="p-r-10 p-l-10">
    <div class="form-group">
        <label class="control-label">Enlace web</label>
        <input type="text" class="form-control" [(ngModel)]="archivo.link" placeholder="Enlace web">
    </div>
    <div class="form-group">
        <label class="control-label">Observación</label>
        <textarea type="text" class="form-control" rows="5" [(ngModel)]="archivo.nombre" placeholder="Observación del archivo"></textarea>
    </div>
    <div class="text-right"> <button class="btn btn-primary btn-sm" (click)="agregarArchivo()"> AGREGAR ARCHIVO </button> </div>
</div>