<div class="card">
    <div class="card-body">
        <h4 class="card-title">Asegurado</h4>

        <div class="row">
            <div class="col-md-8 col-12">
                <app-cliente-search-text section='0' titulo_search='Contratante' (emit_cliente)="poliza.contratante = $event"></app-cliente-search-text>
            </div>
            <div class="col-md-4 col-12 pt-md-5 pt-0">
                <div class="form-check">
                    <label class="custom-control custom-radio">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Responsable de pago</span>
                    </label>
                </div>
            </div>

            <div class="col-md-8 col-12">
                <app-cliente-search-text section='0' titulo_search='Asegurado' (emit_cliente)="poliza.asegurado = $event"></app-cliente-search-text>
            </div>
            <div class="col-md-4 col-12 pt-md-5 pt-0">
                <div class="form-check">
                    <label class="custom-control custom-radio">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Responsable de pago</span>
                    </label>
                </div>
            </div>

            <div class="col-md-8 col-12">
                <app-cliente-search-text section='0' titulo_search='Contacto' (emit_cliente)="poliza.contacto = $event"></app-cliente-search-text>
            </div>
            <div class="col-md-4 col-12 pt-md-5 pt-0">
                <div class="form-check">
                    <label class="custom-control custom-radio">
                        <input id="radio1" name="radio" type="radio" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Responsable de pago</span>
                    </label>
                </div>
            </div>

        </div>

        <ul class="nav nav-tabs customtab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#productos" role="tab" aria-expanded="true">
                    <span class="hidden-sm-up"><i class="ti-home"></i></span>
                    <h4 class="card-title">Productos</h4>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#archivos" role="tab" aria-expanded="true">
                    <span class="hidden-sm-up"><i class="ti-home"></i></span>
                    <h4 class="card-title">Archivos</h4>
                </a>
            </li>
        </ul>
        <div class="tab-content tabcontent-border">
            <div class="tab-pane active" id="productos" role="tabpanel" aria-expanded="true">
                <div class="p-20">
                    <div class="row">
                        <div class="col-12 text-right">
                            <button class="btn btn-sm btn-success right-side-toggle" (click)="loadProducto=true">
                                Agregar producto </button>
                        </div>

                        <div class="col-12">
                            <ng-container *ngIf="loadProducto==true">
                                <div class="animated fadeInDown show">
                                    <div class="b-all m-t-15 m-b-15 p-10 bg-light-primary">
                                        <app-frm-producto [isCloseButton]="true" (closeDialog)="loadProducto=$event"></app-frm-producto>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>

                    <small> <strong>{{productos.length}}</strong> registros encontrados </small>
                    <app-tbl-producto></app-tbl-producto>
                </div>
            </div>
            <div class="tab-pane" id="archivos" role="tabpanel" aria-expanded="true">
                <div class="p-20">
                    <div class="row">
                        <div class="col-12 text-right">
                            <button class="btn btn-sm btn-success right-side-toggle" (click)="cargarArchivoPoliza=true"> Agregar archivo </button>
                        </div>

                        <div class="col-12">
                            <ng-container *ngIf="cargarArchivoPoliza==true">
                                <div class="animated fadeInDown show">
                                    <div class="b-all m-t-15 m-b-15 p-10 bg-light-info">
                                        <app-frm-archivo [isCloseButton]="true" (closeDialog)="cargarArchivoPoliza=$event"  (archivoEmiter)="archivosPoliza.push($event)"></app-frm-archivo>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <small> <strong>{{archivosPoliza.length}}</strong> archivos encontrados </small>
                    <app-tbl-archivo [data]="archivosPoliza"></app-tbl-archivo>
                </div>
            </div>
        </div>

    </div>
</div>
<button class="right-side-toggle btn-inverse btn-primary btn btn-circle" (click)="registrarPoliza()">
    <i class="ti-check text-white no-animation"></i>
</button>