<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input type="text" class="form-control" placeholder="Buscar cliente...">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <small class="pull-right">Cotizaciones encontradas ( <strong> {{clientes.length}} </strong> )</small>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre / Razón Social</th>
                            <th>Teléfono</th>
                            <th>Correo electrónico</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cls of clientes">
                            <td>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button href="javascript:void(0)" class="btn btn-circle btn-sm btn-outline-info m-r-10">
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                        <ng-container *ngIf="cls.is_empresa==0">
                                            <i class="fa fa-user-o m-r-5"></i> {{ cls.apellido_paterno }} {{ cls.apellido_materno }} {{ cls.nombre }}
                                        </ng-container>
                                        <ng-container *ngIf="cls.is_empresa==1">
                                            <i class="fa fa-building-o m-r-5"></i> {{ cls.razon_social }}
                                        </ng-container>
                                        <div>
                                            <small class="m-l-5"> <strong> {{ cls.tipo_documento }} </strong> {{ cls.nro_documento }} </small>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="row">
                                    <ng-container *ngFor="let telefono of cls.telefonos ">
                                        <div class="d-inline-block"><strong class="text-muted m-l-5 m-r-5"> &bull;</strong> {{ telefono.valor }} </div>
                                    </ng-container>
                                </div>
                            </td>
                            <td>
                                <ng-container *ngFor="let correo of cls.correo_electronico ">
                                    <div class="d-inline-block">
                                        <strong class="text-muted m-l-5 m-r-5"> &bull;</strong> {{ correo.valor }}
                                    </div>
                                </ng-container>
                            </td>
                            <td> <button class="btn btn-circle btn-outline-danger btn-danger btn-sm"><i class="fa fa-trash-o"></i></button> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<button class="right-side-toggle btn-inverse btn-primary btn btn-circle" routerLink="/cliente/0" routerLinkActive="active">
  <i class="ti-plus text-white no-animation"></i>
</button>