<div class="input-form">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Información personal</h3>
            <div class="row mb-4">
                <div class="col-md-4 col-12">
                    <label class="control-label">Documento</label>
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ tipoDocumento.alias }} </button>
                            <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a href="javascript:void(0)" class="dropdown-item" *ngFor="let td of tiposDocumento" (click)="tipoDocumento=td"> {{ td.alias }} </a>
                            </div>
                        </div>
                        <input [(ngModel)]="cliente.nro_documento" type="text" class="form-control" placeholder="Número de documento">
                    </div>
                </div>
            </div>

            <div class="row">
                <ng-container *ngIf="tipoDocumento.nombre=='RUC'">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="control-label">Razón social</label>
                            <input [(ngModel)]="cliente.razon_social" type="text" class="form-control" placeholder="Razón social">
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="tipoDocumento.nombre!=='RUC'">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Nombres</label>
                            <input [(ngModel)]="cliente.nombre" type="text" class="form-control" placeholder="Nombre">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Ap. paterno</label>
                            <input [(ngModel)]="cliente.apellido_paterno" type="text" class="form-control" placeholder="Apellido paterno">
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Ap. materno</label>
                            <input [(ngModel)]="cliente.apellido_materno" type="text" class="form-control" placeholder="Apellido materno">
                        </div>
                    </div>

                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label class="control-label">Fecha de nacimiento</label>
                            <input #fechaNacimiento type="text" class="form-control datepicker" placeholder="dd-mm-yyyy">
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="control-label">Número teléfono</label>

                        <div class="input-group" *ngFor="let tct of tiposContactoTelefono; let i = index" [ngClass]="{'mt-3': i != 0}">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ tct.parametro.alias }} </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a href="javascript:void(0)" class="dropdown-item" *ngFor="let tdc of tiposDatosCliente" (click)="setTelefonoInIndex( tdc, i )"> {{ tdc.alias }}  </a>
                                </div>
                            </div>
                            <input [(ngModel)]="tiposContactoTelefono[i].valor" type="text" class="form-control" [placeholder]="'Número de telefono '+ (tct.parametro.alias | lowercase)">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a *ngIf="i == ( tiposContactoTelefono.length - 1 )" href="javascript:void(0)" class="dropdown-item" (click)="agregarNumeroTelefonico()"> Agregar teléfono </a>
                                    <a *ngIf="(i <= ( tiposContactoTelefono.length - 1 )) && (( i != 0 ) || ( tiposContactoTelefono.length > 1 ))" href="javascript:void(0)" class="dropdown-item" (click)="eliminarNumeroTelefonico( i )"> Eliminar teléfono </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="form-group">
                        <label class="control-label">Correo electrónico</label>
                        <div class="input-group" *ngFor="let tcc of tiposContactoCorreo; let ic = index" [ngClass]="{'mt-3': ic != 0}">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ tcc.parametro.alias }} </button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a href="javascript:void(0)" class="dropdown-item" *ngFor="let tdc of tiposDatosCliente" (click)="setCorreoInIndex( tdc, ic )"> {{ tdc.alias }} </a>
                                </div>
                            </div>
                            <input [(ngModel)]="tiposContactoCorreo[ic].valor" type="text" class="form-control" [placeholder]="'Correo electrónico '+ (tcc.parametro.alias | lowercase)">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-secondary btn-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 38px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a *ngIf="ic == ( tiposContactoCorreo.length - 1 )" href="javascript:void(0)" class="dropdown-item" (click)="agregarCorreo()"> Agregar correo electrónico </a>
                                    <a *ngIf="(ic <= ( tiposContactoCorreo.length - 1 )) && (( ic != 0 ) || ( tiposContactoCorreo.length > 1 ))" href="javascript:void(0)" class="dropdown-item" (click)="eliminarCorreo( ic )"> Eliminar correo electrónico </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="card-title mt-3">Dirección y ubicación</h3>
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="control-label">Departamento</label>
                        <select [(ngModel)]="cliente.departamento" #lstDepartamento class="custom-select col-12" (change)="listProvincias( lstDepartamento.value )">
                <option *ngFor="let dps of departamentos" [value]="dps.nombre"> {{ dps.alias }} </option>
              </select>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="control-label">Provincia</label>
                        <select [(ngModel)]="cliente.provincia" #lstProvincia class="custom-select col-12" (change)="listDistritos( lstProvincia.value )">
                <option *ngFor="let pvc of provincias" [value]="pvc.nombre"> {{ pvc.alias }} </option>
              </select>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="control-label">Distrito</label>
                        <select [(ngModel)]="cliente.distrito" class="custom-select col-12">
                <option *ngFor="let dst of distritos" [value]="dst.nombre"> {{ dst.alias }} </option>
              </select>
                    </div>
                </div>

                <div class="col-12 col-md-8">
                    <div class="form-group">
                        <label class="control-label">Dirección</label>
                        <input [(ngModel)]="cliente.direccion" type="text" class="form-control" placeholder="Ingrese dirección">
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label class="control-label">C. Postal</label>
                        <input type="text" class="form-control" placeholder="Ingrese código postal">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button class="right-side-toggle btn-inverse btn-primary btn btn-circle" (click)="registrarCliente()"> 
        <i class="ti-check text-white no-animation"></i>
    </button>
</div>